.benefits {
    margin-top: 160px;
    width: 100%;

    @media(max-width: 650px) {
        margin-top: 100px;
    }

    .gradientHeader_inner {
        font-weight: 700;
        letter-spacing: 0px;
    }

    &_header {
        margin-top: 60px;
        font-size: 45px;
        font-weight: 600;

        @media(max-width: 650px) {
            font-size: 36px;
        }
    }

    &_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 160px;

        @media(max-width: 650px) {
            margin-top: 60px;
        }

        &_decor {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 630px;
            width: 50%;

            .free_img {
                justify-content: center;
            }

            @media(max-width: 1200px) {
                width: 0px;
                position: relative;
                z-index: 0;
                opacity: 0.3;

                height: auto;

                .free_img {
                    justify-content: left;
                }
            }

            @media(max-width: 650px) {
                display: none;
            }
        }

        &_text {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            row-gap: 90px;

            @media(max-width: 1200px) {
                width: 100%;
                position: relative;
                z-index: 1;
            }

            @media(max-width: 650px) {
                row-gap: 30px;
            }

            &_element {
                width: 50%;

                @media(max-width: 650px) {
                    width: 100%;
                }

                &_header {
                    font-weight: 600;
                    font-size: 36px;
                    padding-left: 22px;
                    border-left: 2px solid white;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        display: none;

                        @media(max-width: 650px) {
                            display: block;
                        }

                        transition: 200ms transform;
                        height: 20px;
                    }
                }

                &_p {
                    padding-right: 60px;
                    padding-left: 22px;
                    font-size: 20px;
                    margin-top: 16px;

                    @media(max-width: 650px) {
                        display: grid;
                        grid-template-rows: 0fr;
                        transition: grid-template-rows 300ms;
                        overflow: hidden;
                    }

                    &_wrapper {
                        min-height: 0px;
                    }
                }
            }
        }
    }

    .benefits_decor_img {
        transition: filter 300ms;
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
    }

}


.benefits:hover {

    .benefits_decor_img {
        filter: drop-shadow(0px 0px 50px rgba(#09356A, 1));
        /* Тень */
    }
}