.ourPrincipals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 320px;

    @media(max-width: 700px) {
        margin-top: 100px;
        justify-content: left;
    }

    .gradientHeader_inner {
        font-weight: 700;
        letter-spacing: 0px;
    }

    &_header {
        width: 100%;
        margin-top: 28px;
        font-size: 45px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;

        @media(max-width: 700px) {
            font-weight: 600;
            margin-top: 24px;
            font-size: 36px;
            text-align: left;
        }
    }

    &_content {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-top: 180px;

        @media(max-width: 1150px) {
            margin-top: 20px;
        }
    }

    &_text {
        width: 50%;
        padding-left: 30px;
        display: flex;
        flex-wrap: wrap;
        padding-right: 30px;

        @media(max-width: 1150px) {
            width: 100%;
        }

        @media(max-width: 650px) {
            padding-right: 0px;
            padding-left: 0px;
            margin-top: 30px;
        }

        &_element {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 20px;

            border-bottom: 1px dashed #393C58;
            padding: 25px 0px;

            @media(max-width: 650px) {
                border-bottom: none;
                padding-bottom: 0px;
            }

            &_dot {
                font-size: 40px;
                padding-bottom: 16px;

                @media(max-width: 650px) {
                    display: none;
                }
            }

            &_text {
                font-size: 32px;
                padding-right: 30px;

                @media(max-width: 650px) {
                    padding-right: 0px;
                    font-size: 24px;
                }

                span {
                    font-weight: 600;
                }
            }
        }
    }

    &_decor {
        width: 50%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: -1;

        @media(max-width: 650px) {
            height: auto;
        }

        @media(max-width: 1150px) {
            opacity: 0.3;
            width: 0%;
            justify-content: left;

            .free_img {
                justify-content: left;

                img {
                    max-width: calc(100dvw - 60px);
                }
            }
        }

        @media(max-width: 650px) {
            padding-bottom: 300px;
        }
    }

    .ourPrincipals_decor_img {
        transition: filter 300ms;
    }

}


.ourPrincipals:hover {

    .ourPrincipals_decor_img {
        filter: drop-shadow(0px 0px 50px rgba(#09356A, 1));
        /* Тень */
    }
}